RewriteEngine On
RewriteRule ^/?([a-zA-Z_]+)/([a-zA-Z_]+)/([0-9]+)$ rotas.php?metodo=$1&arg1=$2&arg2=$3
RewriteRule ^/?([a-zA-Z_]+)/([a-zA-Z_]+)$ rotas.php?metodo=$1&arg1=$2
RewriteRule ^/?([a-zA-Z_]+)/([0-9]+)$ rotas.php?metodo=$1&arg1=$2
RewriteRule ^/?([a-zA-Z_]+)$ rotas.php?metodo=$1 
